<div>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Packages</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="content px-2">
    <div class="row">
      <div class="col-lg-3 col-6" *ngFor="let item of customPackages">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{item.name}}</h3>
            <p class="marginTopMinus">Duration In Days: <b>{{item.durationInDays}}</b></p>
            <p class="marginTopMinus">Price: <b>{{item.price}} PKR</b></p>
            <p class="marginTopMinus">Total Earning: <b>{{item.totalEarning}} PKR</b></p>
            <p class="marginTopMinus">Daily Ad Count: <b>{{item.dailyAdCount}}</b></p>
            <p class="marginTopMinus">Price Per Ad: <b>{{item.pricePerAd}} PKR</b></p>
            <p class="marginTopMinus">Referral Amount: <b>{{item.referralAmount}} PKR</b></p>
            <p class="marginTopMinus">Minimum Withdraw: <b>{{item.minimumWithdraw}} PKR</b></p>
            <p class="marginTopMinus">Maximum Withdraw: <b>{{item.maximumWithdraw}} PKR</b></p>
          </div>
          <div class="icon">
            <i class="fas fa-star"></i>
          </div>
          <a style="cursor:pointer" [routerLink]="['/account/packageRequest', item.id]" class="small-box-footer">
            Select
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>