<div>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>E-Marketing</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="content px-2">
    <div class="row">
      <div class="col-lg-3 col-6"  *ngFor="let item of HEROES">
        <div class="small-box bg-success">
          <div class="inner">
            <h6>Starter Package</h6>
            <p>Stargazers</p>
          </div>
          <div class="icon">
            <i class="fas fa-star"></i>
          </div>
          <a style="cursor:pointer" [routerLink]="['/account/packageRequest', 4]" class="small-box-footer"
            >
            Select
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>