<nav class="navbar navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-stretch">
    <div class="col-3 d-flex align-items-center">
      <img src="assets/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3"
        style="opacity: 0.8; width:120px; height: 90;" />
    </div>
    <div class="login-logo" style="margin-top: 10px;"> 
      <!-- <span>SignUp</span> -->
      <span style="float:right" [routerLink]="['/account/login']"><i
          class="fas fa-sign-in-alt"></i></span>
    </div>
  </div>
</nav>