<div class="container-fluid">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Withdraw Request" | localize }}</h1>
        </div>
        <!-- <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createUser()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div> -->
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Withdraw Type" | localize }}
            </label>
            <div class="col-md-9">
              <p-dropdown [options]="withdrawTypeArrayObj" name="withdrawType" id="withdrawType" [(ngModel)]="selectedWithdrawTypeId"></p-dropdown>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Amount" | localize }}
            </label>
            <div class="col-md-9">
              <input type="number" class="form-control" name="name" id="name" required maxlength="32"
                [(ngModel)]="amount" #nameModel="ngModel" #nameEl placeholder="Enter Amount"/>
              <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="col-md-12">
            <button href="javascript:;" [disabled]="!amount || !selectedWithdrawTypeId" class="btn bg-primary" (click)="create()">
              <i class="fa fa-plus-square"></i>
              {{ "Create" | localize }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>