<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "User Referal" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content ">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input type="text" class="form-control" name="keyword" [placeholder]="'SearchWithThreeDot' | localize"
              [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)" />
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap" [busy]="isTableLoading">
            <thead class="bg-light">
              <tr>
                <th>{{ "User Name" | localize }}</th>
                <th>{{ "Package Name" | localize }}</th>
                <th>{{ "Referral User Name" | localize }}</th>
                <th>{{ "Account Status" | localize }}</th>
                <th>{{ "Bonus Status" | localize }}</th>
                <th>{{ "Referral Amount" | localize }}</th>
                <th style="width: 200px;">{{ "Actions" | localize }}</th>
                <th style="width: 200px;">{{ "View" | localize }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let userReferal of (userReferal?.items
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        })
                ">
                <td>{{ userReferal.userName }} 
                  <div style="color:cornflowerblue"> {{ userReferal?.userEmail }} </div></td>
                <td>{{ userReferal.packageName }}</td>
                <td>{{ userReferal.referralUserName }}
                  <div style="color:cornflowerblue"> {{ userReferal?.referralUserEmail }} </div>
                </td>
                <td>{{ userReferal.referralAccountStatusName }}</td>
                <td>{{ userReferal.referralBonusStatusName }}</td>
                <td>{{ userReferal.packageReferralAmount }} PKR</td>
                <td>
                 
                  <button *ngIf="userReferal.referralBonusStatusId==2" type="button" class="btn btn-sm bg-secondary" (click)="markAsPaidReferral(userReferal)">
                    {{ "Mark as Paid"}}
                  </button>
                  <!-- <button
                    type="button"
                    class="btn btn-sm bg-secondary"
                    (click)="editRole(role)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" | localize }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm bg-danger mx-2"
                    (click)="delete(role)"
                  >
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button> -->
                </td>

                <td>
                 
                  <button  type="button" class="btn btn-sm bg-secondary" (click)="viewUserReferral(userReferal)">
                    {{ "View"}}
                  </button>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>